<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @model.post %>
</p>

<p>
  <strong>Message:</strong>
  <%= @model.message %>
</p>

<%= link_to 'Edit', edit_model_path(@model) %> |
<%= link_to 'Back', models_path %>
