<h1>Create an account:</h1>

<div class="container">
  <%= form_for @user do |x| %>
    <p>Username:</p>
    <%= x.text_field :username %>
    <p>Email:</p>
    <%= x.email_field :email %>
    <p>Password:</p>
    <%= x.password_field :password %>
    <p>Confirm password:</p>
    <%= x.password_field :password_confirmation %>
    <%= x.submit "Submit" %>
  <% end %>
</div>
<div class= "container">
  <%= link_to "Home", root_path %>
</div>
