<h2><%= @user.username %></h2>

  <div class "container">
<% @user.followers.each do |x| %>
    <%= x.username %>

    <% end %>

<%= button_to "Follow", follow_user_path, :class => "btn btn-default btn-lg" %>

   </div>
<br> </br>
    <br></br>

<%= link_to "Home", root_path %>

<br> </br>

<br>
<br>
<br>
<div class="container">

<% @user.posts.each do |x| %>
    <%= x.message %>

<br>

  <% end %>

</div>
