<h2><%= @user.username %></h2>

<%= link_to "Home", root_path %>

<div class="container" style="float: right; margin-right: 30px;">
  <h3>Followers</h3>
  <% if @user.followers != nil %>
  <ul>
    <% @user.followers.each do |x| %>
      <li><%= x.username %></li>
    <% end %>
  </ul>
  <% end %>
</div>
<br>
<% if @current_user %>
  <% if @current_user.following?(@user) %>
    <%= button_to "Unfollow", follow_path(@user), :class => "btn btn-primary", method: :delete %>
    <% else %>
    <%= button_to "Follow", follow_user_path, :class => "btn btn-primary" %>
  <% end %>
<% end %>
<br>
<div class="container">
  <table class="table">
      <tbody>
        <% @user.posts.each do |post| %>
        <tr class="table-row">
          <td><%= post.message %></td>
          <td><small>Posted on <%= post.created_at.strftime('%b %e, %l:%M %p') %></small></td>
        </tr>
        <% end %>
      </tbody>
  </table>
</div>
