
<div class="container">
<p id="notice"><%= notice %></p>


<h1>Twitterchen</h1>

<table class="table">



<%= button_to "Log in", new_user_session_path, :class => "btn btn-default btn-lg", :method => "get" %>
<%= button_to "Sign up", new_user_path, :class => "btn btn-default btn-lg", :method => "get" %>

<th colspan="3"></th>


      <tr>
        <tbody>
          <% @posts.each do |post| %>

          <th><%= "user" %></td>

          <td><%= link_to "#{post.user.username}",user_path(post.user.id) %></td>

          <td><%= link_to "#{post.user.username}", user_path(post.user.id) %></td>

          <th><%= "post.message" %></th>
          <td><%= post.message %></td>
          <td><%= link_to 'Show', post %></td>



  </tr>

  <% end %>
    </tbody>
  </table>


</div>

<br>
<br>

<%= paginate @posts %>
<%= page_entries_info @posts %>
