<div class="container">
<p id="notice"><%= notice %></p>


<h1>Twitterchen</h1>

<table class="table">
  <thead>
    <table class="table">
  <thead>
<% if @new_user %>
<%= button_to "Sign up", new_user_path, :class => "btn btn-default btn-lg", :method => "get" %>
<%end%>
<tr>

      <th>Fist Page  </th>



      <th colspan="3"></th>


    </tr>

<div class="container">
  <tbody>

 <% @posts.each do |post| %>

<tr>
  <th><%= "username" %></td>
  <td><%= post.user %></td>
  <th><%= "post.message" %></th>
  <td><%= post.message %></td>
  <td><%= link_to 'Show', post %></td>

  <p id="notice"><%= notice %></p>

  <h1>Listing Models</h1>

  <table>
    <thead>
      <tr>
        <th>"username"</th>
        <th>post.message</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% post.each do |post| %>
        <tr>
          <th><%= "username" %></td>
          <td><%= post.user %></td>
          <th><%= "post.message" %></th>
          <td><%= post.message %></td>
          <td><%= link_to 'Show', post %></td>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', model, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Post', new_post_path %>










      </tr>
    <% end %>




</tbody>
</table>

<br>


<%= link_to 'New Post', new_post_path %>

</div>
