<div class="container">
  <h1>Twitterchen</h1>
</div>
<% if @current_user %>
  <div class="container">
    <table class="table">
        <tbody>
          <% @posts.timeline(@current_user).each do |post| %>
          <tr class="table-row">
            <td><%= link_to "#{post.user.username}",user_path(post.user.id) %> said: </td>
            <td><%= post.message %></td>
            <td><%= link_to "Show", post %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
<% else %>
  <div class="container">
    <table class="table">
        <tbody>
          <% @posts.each do |post| %>
          <tr class="table-row">
            <td><%= link_to "#{post.user.username}",user_path(post.user.id) %> said: </td>
            <td><%= post.message %></td>
            <td><%= link_to "Show", post %></td>
          </tr>
          <% end %>
        </tbody>
    </table>
  </div>
<% end %>
<br>
<%= paginate @posts %>
<%= page_entries_info @posts %>
