<div class="container">
  <h1>Twitterchen</h1>
</div>
<div class="container">
  <% if @current_user %>
    <%= button_to "Post", new_post_path, :class => "btn btn-lg", method: :get %>
    <%= button_to "Log out", user_session_path(@current_user), :class => "btn btn-lg", method: :delete %>
  <% else %>
    <%= button_to "Log in", new_user_session_path, :class => "btn btn-default btn-lg", method: :get %>
    <%= button_to "Sign up", new_user_path, :class => "btn btn-default btn-lg", method: :get %>
  <% end %>
  <table class="table">
    <th></th>
      <tbody>
        <% @posts.each do |post| %>
        <tr class="table-row">
          <td><%= link_to "#{post.user.username}",user_path(post.user.id) %> said: </td>
          <td><%= post.message %></td>
          <td><%= link_to "Show", post %></td>
        </tr>
      <% end %>
      </tbody>
  </table>
</div>
<br>
<%= paginate @posts %>
<%= page_entries_info @posts %>
