
<div class="container">
<p id="notice"><%= notice %></p>


<h1>Twitterchen</h1>

<table class="table">



<%= button_to "Log in", new_user_session_path, :class => "btn btn-default btn-lg", :method => "get" %>
<%= button_to "Sign up", new_user_path, :class => "btn btn-default btn-lg", :method => "get" %>

<th colspan="3"></th>


  <table>

    <tbody>
      <% @posts.each do |post| %>
  <tr>
          <th><%= "user" %></td>
          <td><%= post.user.username %></td>
          <th><%= "post.message" %></th>
          <td><%= post.message %></td>
          <td><%= link_to 'Show', post %></td>

  </tr>

      <% end %>
    </tbody>
  </table>


</div>

<%= paginate @posts %>
<%= page_entries_info @posts %>
