<div class="container">
<p id="notice"><%= notice %></p>


<p>

  <strong>More posts by</strong>
  <%= link_to "#{@post.user.username}", user_path(@post.user.id) %>

</p>

<p>
  <strong>Message:</strong>
  <%= @post.message %>
  <p>Posted on <%= @post.created_at.strftime('%b %e, %l:%M %p') %></p>
</p>

<%= link_to 'Back', root_path %>
