<h1>Login</h1>

<div class="container">
  <%= form_for @user_session do |x| %>
    <p>Username:</p>
      <%= x.text_field :username %>
    <p>Password:</p>
      <%= x.password_field :password %>
    <%= x.submit "Login" %>
  <% end %>
</div>
<div class= "container">
  <%= link_to "Home", root_path %>
</div>
